.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.home{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)),url(https://i.ibb.co/FJqJH4S/study-Group.png);
  background-size: cover;
  color: #efefef!important;
  background-position: center;
  min-height: fit-content;
  height: 2600px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
