.program{
    margin: 20px

}
.program-image{
  object-fit:cover;
  width:230px;
  height:230px;
}
.program-card{
  color: white;
  border-radius: 30px;
}
.card-body{
    background-color: antiquewhite;
}

