.task{
    width: 500px;
    height: 300px;
    display: flex;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 20px;
    color: #000;
}
.task img{
    width: 150px;
    height: 150px;
    margin: auto 10px;
}
.task-detail{
    margin:  auto 30px;
}
.cancel button{
    margin:  250px 0;
}